.scroll-off{
    overflow-y: scroll;
}
body::-webkit-scrollbar, .scroll-off::-webkit-scrollbar {
    display: none;
}
.hover{
    transition: all ease-in-out 0.8s;
}
.hover:hover{
    transform: scale(1.02);
}
.floating{
    /*     transition: all 2s; */
    animation: float 1s ease-in-out infinite;
}
    /* .info h4{
    } */
.device-img{
    /* transform: translateY(-10px), scale(0.5);
	animation: float 6s ease-in-out infinite; */
    animation-name: transit;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    margin-left: 30px;
    margin-top: 5px;
}
@keyframes transit {
    0% { transform: translate(0,  0px); }
    50%  { transform: translate(15px, 15px); }
    100%   { transform: translate(0, -0px); } 
}
@keyframes float{
    50%{
        transform: scale(1.09);
    }
}
@media(max-width: 767px){
    .device-img{
        height: 200px !important;
    }
}